graph {
    canvas-color: white;
    fill-mode: gradient-radial;
    fill-color: #002, #004;
    padding: 20px;
}
node {
     shape: circle;
     size-mode: dyn-size;
     size: 37px;
     fill-mode: gradient-radial;
     fill-color: #FFFC, #FFF0;
     stroke-mode: none;
     text-size: 11px;
     text-color: #FFFFFF;
}
node:clicked {
 fill-color: #F00A, #F000; 
}
node:selected {
 fill-color:  #ffff00, #100051;
}
node:chosen{
    shape: circle;
    size-mode: dyn-size;
    size: 37px;
    fill-mode: gradient-radial;
    fill-color: #000000, #ffff80;
    stroke-mode: none;
    text-size: 11px;
    text-color: #FFFFFF;
}
edge {
 //shape: cubic-curve;
 size: 1px; 
 fill-color: #FFF3; 
 fill-mode: plain; 
 arrow-shape: none; 
 text-size: 14px;
 text-color: #FFFFFF;
 text-alignment: above;
}
sprite {
 shape: circle; 
 fill-mode: gradient-radial; 
 fill-color: #FFF8, #FFF0; 
}